
<div *ngIf="happening">

  <h2>{{happening.name | uppercase}} Details</h2>
  <div><span>id: </span>{{happening.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="happening.name" placeholder="name"/>
    </label>
  </div>

  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>

  <hr />

  <app-happening-place-detail #happeningPlaceDetail [happening]="happening" (happeningPlaceAdd)="addHappeningPlace($event)">
  </app-happening-place-detail>

  <!--<button class="btn btn-primary" (click)="happeningPlaceDetail.testMethod()">Test</button>-->

  <hr />

  <app-happening-place *ngFor="let n of happeningPlaces"
            [happeningPlace]="n"
            (happeningPlaceDeleted)="deleteHappeningPlace($event)"
            (click)="onSelectHappeningPlace(n)">
  </app-happening-place>
</div>


