
<div *ngIf="happening">

  <h2>{{happening.name | uppercase}} Details</h2>
  <div><span>id: </span>{{happening.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="happening.name" placeholder="name"/>
    </label>
  </div>

  <br/>
  <br/>
  <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-default" (click)="goBack()">Go back</button>
  <hr />

  <app-happening-place-detail #happeningPlaceDetail [happening]="happening" (happeningPlaceAdd)="addHappeningPlace($event)">
  </app-happening-place-detail>

  <!--<button class="btn btn-primary" (click)="happeningPlaceDetail.testMethod()">Test</button>-->

  <hr />

  <app-happening-place *ngFor="let n of happeningPlaces"
            [happeningPlace]="n"
            (happeningPlaceDeleted)="deleteHappeningPlace($event)"
            (click)="onSelectHappeningPlace(n)">
  </app-happening-place>
</div>


