<h2>My Happenings</h2>

<div>
  <label>Happening name:
    <input #happeningName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(happeningName.value); happeningName.value=''">
    add
  </button>
</div>

<hr />

<div class="well hoverwell thumbnail" *ngFor="let happening of happenings">
  <a routerLink="/detail/{{happening.id}}">
    <h2>{{happening.name}}</h2>
  </a>
    <div><b>Id:</b> {{happening.id}}</div>
    <div>
      <span><b>Date created:</b> {{happening.createdDatetime}}</span>
      <span class="pad-left">{{happening.createdBy}}</span>
    </div>
    <div *ngIf="happening?.dateFrom">
      <b>Date from:</b> {{happening.dateFrom}}
    </div>
    <div *ngIf="happening?.dateTo">
      <b>Date to:</b> {{happening.dateTo}}
    </div>
    <br />
    <div>{{happening.text}}</div>
    <br />
    <button class="btn btn-primary" title="delete happening"
          (click)="delete(happening)">Delete</button>
</div>
