<h2>My Happenings</h2>

<div>
  <label>Happening name:
    <input #happeningName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(happeningName.value); happeningName.value=''">
    add
  </button>
</div>

<ul class="happenings">
  <li *ngFor="let happening of happenings">
    <a routerLink="/detail/{{happening.id}}">
      <span class="badge">{{happening.id}}</span> {{happening.name}}
    </a>
  </li>
</ul>


<br />

<app-happening-detail [happening]="selectedHappening"></app-happening-detail>
